<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <header class="header">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"
            onclick="navbar.show()">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
        <p>Quiz App</p>
        <nav class="header-nav">
            <a href="./">Play</a>
            <a href="./create">Create</a>
            <a href="./account/login">Login</a>
        </nav>
    </header>
    <nav id="mobile-nav">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"
                onclick="navbar.hide()">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </span>
        <div>
            <a href="./">Play</a>
            <a href="./create">Create</a>
            <a href="./account/login">Login</a>
        </div>
    </nav>

    <main>
        <form action="javascript:" onsubmit="searchQuery(document.getElementById('search').value)" autocomplete="off">
            <input type="search" name="search" id="search" placeholder="e. g. Math" required>
            <button type="submit">Search</button>
        </form>
        <h2>Search Results</h2>
        <div id="search_results"><p>No results</p></div>
        <h2>Most played</h2>
        <div id="most_played"><p>Loading...</p></div>
    </main>

    <script>
        const mobileNav = document.getElementById('mobile-nav');
        const navbar = {
            show: () => {
                mobileNav.style.display = 'block';
            },
            hide: () => {
                mobileNav.style.display = 'none';
            }
        }
    </script>
    <script src="./scripts/index.js"></script>
</body>

</html>